# Divide a big CSV file into 2 or more files.

In [1]:
import pandas as pd

## Define variables.

In [2]:
csv_dir = ".\\Data\\"
csv_name = "Sample.csv"
csv_path = csv_dir + csv_name
csv_encoding = 'Shift_JISx0213'

# A number of files the CSV file will be divided into.
divCount = 3

## Read a big csv file as a DataFrame.
CSVファイルをDataFrameに読み込む。

  - The Sample.csv file contains data of 800,000 rows by 100 columns and one header row on the top. / Sample.csvには80万行ｘ100列のデータが含まれており、ヘッダが付いている。

In [3]:
df = pd.read_csv(csv_path, encoding=csv_encoding, header=0)
display(df.head(5))
display(df.tail(5))
print("The shape of the DataFrame --->", df.shape)

,Header-1,Header-2,Header-3,Header-4,Header-5,Header-6,Header-7,Header-8,Header-9,Header-10,...,Header-91,Header-92,Header-93,Header-94,Header-95,Header-96,Header-97,Header-98,Header-99,Header-100
0,1,19,1,1.0,1.0,1.0,1.0,1.0,NaN,NaN,...,3.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0
1,2,20,1,1.0,1.0,1.0,1.0,1.0,NaN,NaN,...,3.0,1.0,4.0,3.0,1.0,1.0,2.0,2.0,2.0,1.0
2,3,21,1,1.0,1.0,1.0,1.0,NaN,NaN,NaN,...,1.0,2.0,3.0,3.0,2.0,2.0,1.0,2.0,1.0,1.0
3,4,22,2,1.0,1.0,1.0,1.0,1.0,NaN,NaN,...,1.0,1.0,3.0,2.0,NaN,1.0,1.0,2.0,1.0,1.0
4,5,23,2,NaN,NaN,NaN,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Header-1,Header-2,Header-3,Header-4,Header-5,Header-6,Header-7,Header-8,Header-9,Header-10,...,Header-91,Header-92,Header-93,Header-94,Header-95,Header-96,Header-97,Header-98,Header-99,Header-100
799995,799996,15,2,1.0,1.0,1.0,1.0,1.0,NaN,NaN,...,3.0,1.0,NaN,NaN,NaN,NaN,NaN,4.0,2.0,1.0
799996,799997,16,2,1.0,1.0,1.0,1.0,1.0,NaN,NaN,...,NaN,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0
799997,799998,17,2,1.0,1.0,1.0,1.0,1.0,NaN,NaN,...,1.0,1.0,2.0,2.0,1.0,2.0,1.0,4.0,1.0,1.0
799998,799999,18,2,1.0,1.0,1.0,1.0,1.0,NaN,NaN,...,2.0,2.0,1.0,3.0,2.0,NaN,NaN,3.0,NaN,1.0
799999,800000,19,2,1.0,1.0,1.0,1.0,1.0,NaN,NaN,...,1.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0,1.0

The shape of the DataFrame ---> (800000, 100)

## Calculate the max rows in each CSV file.
分割後のCSVファイルに含まれる最大行数を計算する。

In [4]:
maxRow = round(len(df) / divCount)
print("The number of max row is --->", maxRow)

The number of max row is ---> 266667

## Divide the DataFrame by defined number then save as a new CSV file.
DataFrameを分割し、CSVファイルを生成。

In [5]:
for i in range(divCount):
    start = i * maxRow
    end = (i + 1) * maxRow
    
    dfDiv = df[start : end]
    
    if i == divCount -1:
        end = len(df)
        dfDiv =  df[start :]

    print(  "-----  " + str(start+1) + '-' + str(end) + "  -----")
    print("The shape of the DataFrame --->", dfDiv.shape)
    
    divName = csv_path.replace('.csv', '-div' + str(i+1) + '_(' + str(start+1) + "-" + str(end) +').csv')
    print("The name of created CSV file --->", divName)
    
    dfDiv.to_csv(divName, encoding=csv_encoding, header=True, index= False)
    
print("---------------------------------------")
print("complete.")

-----  1-266667  -----
The shape of the DataFrame ---> (266667, 100)
The name of created CSV file ---> .\Data\Sample-div1_(1-266667).csv
-----  266668-533334  -----
The shape of the DataFrame ---> (266667, 100)
The name of created CSV file ---> .\Data\Sample-div2_(266668-533334).csv
-----  533335-800000  -----
The shape of the DataFrame ---> (266666, 100)
The name of created CSV file ---> .\Data\Sample-div3_(533335-800000).csv
---------------------------------------
complete.